{% extends "store/base.html" %}

{% block title %} Bienvenue Chez Pur_Beurre {% endblock %}
{% block content %}
	{% load static %}
	<!--We are begining by know if the product exist: If do not exist we print a text message present in the variable text-->
	{% if text is None %}
		<!-- We include the form to research an product-->
 		{% include 'store/chercher.html' %}
	{%else%}
		<hr>
		<div class="col-lg-12 text-center" id='alerte'>
	        <h2 class="text-danger">{{text}}</h2>
	        </br>
	    </div>
	    {% include 'store/chercher.html' %}
    {% endif%}

	<!-- We include Présentation-->
 	{% include 'store/presentation.html' %}

 	<!-- We include Contact-->
 	{% include 'store/contact.html' %}

{% endblock %}

