{% extends "store/base.html" %}

{% block title %} Mes substituts{% endblock %}

{% block content%}
{% load static %}
<!-- Masthead-->
<!-- We print the selected product-->
<header class="masthead ">
	<div class="container h-50" >
		<div class="row h-100 align-items-center justify-content-center text-center decorator2">
		<div class="image5">
			<h1 class="text-uppercase text-blue font-weight-bold ">Voici la liste de mes substituts enregistrés</h1>
		    </h1>
		</div>  
		</div>
	</div>

</header>
<!--We are begining by know if the user is connecting: If he is not we print a text message present in the variable text-->
<section class="page-section decorator1_fond">
    <div class="container decorator1">
        <div class="row list">

                {% include 'store/list.html' %} 

        </div>
    </div>
</section>
{% endblock %}