{% extends "store/base.html" %}

{% block title %} Mes substituts{% endblock %}

{% block content%}
{% load static %}
<!-- Masthead-->
<!-- We print the selected product-->
<header class="masthead decorator_header parent_product">
	<div class="container-fluid image4 " >
		<div class="row  align-items-center justify-content-center text-center decorator2">
		<div class="image5">
			<h1 class="text-uppercase text-blue font-weight-bold ">Voici la liste de mes substituts enregistrés</h1>
		    </h1>
		</div>  
		</div>
	</div>

</header>
<!--We are begining by know if the user is connecting: If he is not we print a text message present in the variable text-->
{% if page_obj %}
    <!-- We show the possible substituts to replace the choice product-->
    <section class="page-section" id="produits" >
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 >Accéder aux détails du produit en cliquant sur le bouton bleu "Openfoodfacts"</h2>
                </br>
            </div>
        </div>
    </div>
        <div class="row list">
            {% for essai in page_obj %}
            <!-- We show the possibilty of substituts-->
            
                
                    <div class="col-sm-4">
                    <div  class="h-75 parent_form" >
                        <img class="img-responsive image1_form h-60 w-100" src="{{ essai.attribut_choice.picture }}" alt="{{ essai.name_product}}">
                        <h5 class="formh4 text-center"> {{essai.attribut_choice.name_product}} </h5>     
                        <div class="row">
                            <div class="col-lg-6 text-center">
                                
                                    <!--Nutriscore substitut-->
                                    <h5 class="h5 mb-2">Nutriscore : <B>{{essai.attribut_choice.nutriscore_product| upper}}</B></h5>
                                
                            </div>
                            <div class="col-lg-6 ">
                                                       
                                    <!--Nutrionel ingredients per 100g-->
                                    <h5>Repères nutritionnel pour 100g</h5>
                                
                            </div>
                        </div>

               
                            <!-- url openfoodfacts to see the choice product-->
                            <div class=" text-center" id="site"><a class="nav-link js-scroll-trigger" href="{{essai.attribut_choice.url_site}}"><h5 >Openfoodfacts</h5></a>
                            </div>
                        
                    </div>
                
            {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
        </div>
        {% endfor %}
    </section>
    
	<div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>

	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}">next</a>
	            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>

	
<!-- If the user does not be connect, we call him to login-->
{%else%}
    <section class="page-section" >
        <div class="col-lg-12 text-center" id='alerte'>
            <h2 class="text-danger">{{text}}</h2>
            <hr>
        </div>
    </section>
{% endif%}

{% endblock %}