{% extends "store/base.html" %}

{% block title %} Copyright{% endblock %}


<!-- We give the url we use to build that site-->

{% block content %}
<header class="masthead">
	
   		<div class="container ">
		   <div class=" row h-80 align-items-center justify-content-center text-center decorator1">
				<div class="lg-4">
					<h2 class="text-uppercase text-primary font-weight-bold text-center mt-0">Charte graphique pour le site.. <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide">ici</a></h2>
					<hr class="divider my-4" />
				</div>
				<div class="lg-4">
					<h2 class="text-uppercase text-primary font-weight-bold text-center mt-0">Reference template Boostrap ..<a href="https://startbootstrap.com/themes/creative/">ici</a></h2>
					<hr class="divider my-4" />
				</div>
					<div class="lg-4">
					<h2 class="text-uppercase text-primary font-weight-bold text-center mt-0">Lien vers le site des icones utilisés..<a href="https://thenounproject.com/">ici</a></h2>
					<hr class="divider my-4" />
				</div>
			</div>	
		</div>
</header>


		
		

{% endblock %}