{% extends "store/base.html" %}

{% block title %} Copyright{% endblock %}


<!-- We give the url we use to build that site-->

{% block content %}
<header class="masthead decorator_header">
	
   		<div class="container decorator2">
			<h1></br></h1>
			<h2 class="text-uppercase text-white font-weight-bold text-center mt-0">Charte graphique pour le site.. <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide">ici</a></h2>
			<h1></br></h1>
			<h2 class="text-uppercase text-white font-weight-bold text-center mt-0">Reference template Boostrap se trouve..<a href="https://startbootstrap.com/themes/creative/">ici</a></h2>
			<h1></br></h1>
			<h2 class="text-uppercase text-white font-weight-bold text-center mt-0">Lien vers le site des icones utilisés..<a href="https://thenounproject.com/">ici</a></h2>
		</div>	
</header>>


		
		

{% endblock %}