{% extends "store/base.html" %}

{% block title %} Détails aliment{% endblock %}
{% block content %}
{% load static %}
<!-- Masthead-->
<!-- We show the selected product-->

<header  style="background-image:url({{product.picture}}); height: 100vh;min-height: 20rem; padding-top: 4.5rem; padding-bottom: 0;">
		<div class=" h2 text-uppercase text-center text-blue font-weight-bold image5 mx-auto">
			le produit est :  {{product.name_product}} 
		</div>  
</header>
             
<section class=" page-section decorator1_fond">
    
    <div  class="h-50 parent_form" >                  
        <div class="row">
            <div class="col-lg-6 text-center">
                
                    <!--Nutriscore -->
                    {% if product.nutriscore_product == "a" %}
			        <img class="responsive h-100" src="https://static.openfoodfacts.org/images/misc/nutriscore-a.svg"/>
			        {% elif product.nutriscore_product == "b" %}
			        <img class="responsive h-100" src="https://static.openfoodfacts.org/images/misc/nutriscore-b.svg"/>
			        {% elif product.nutriscore_product == "c" %}
			        <img class="responsive h-100" src="https://static.openfoodfacts.org/images/misc/nutriscore-c.svg"/>
			        {% elif product.nutriscore_product == "d" %}
			        <img class="responsive h-100" src="https://static.openfoodfacts.org/images/misc/nutriscore-d.svg"/>
			        {% elif product.nutriscore_product == "e" %}
			        <img class="responsive h-100" src="https://static.openfoodfacts.org/images/misc/nutriscore-e.svg"/>
			        {% else %}
			        <img class="responsive h-100" src="{% static 'store/assets/img/nutriscore_I.ico' %}"/>
			        {% endif %}
                    
                
            </div>
            <div class="col-lg-6 ">
                                        
                    <!--Nutrionel ingredients per 100g-->
                    <h3>Repères nutritionnel pour 100g</h3>
                    <ul>
                        <li class="h4">{{product.fat|floatformat:1|default:'? '}} g de Matières grasses / Lipides</li>
                        <li class="h4">{{product.saturated_fat|floatformat:1|default:'? '}} g d'Acides gras saturés</li>
                        <li class="h4">{{product.sugars|floatformat:1|default:'? '}} g de Sucres</li>
                        <li class="h4">{{product.salt|floatformat:1|default:'? '}} g de Sel</li>

                    </ul>
                
            </div>
        </div>
        <!-- url openfoodfacts to see the choice product-->
          
    </div> 
     <div class="row">
            <div class="col-lg-4 text-center" >
            </div>
            <div class="col-lg-4 text-center" >
                <a class=" form-control  nav-link js-scroll-trigger" id="site" href="{{product.url_site}}"><h5 >Openfoodfacts</h5></a>
            </div>
    </div>
</section>
    
  {% endblock %} 
