{% extends "store/base.html" %}

{% block title %} Mon compte {% endblock %}


<!-- Présentation of the user who is connect or no user connect-->

{% block content %}
<header class="masthead decorator_header">
	<div class="container decorator1">
        
       		{% if user.is_authenticated %}
			
					<h1 class="text-center mt-0">{{user.username}} est connecté.</h1>
											
			{% else%}
				
					<h1 class="text-center mt-0">Non connecté!!!!</h1>
			
			{% endif%} 
					
	</div>

</header>
<div class="page-section decorator1_fond" >
	<div class="container decorator1">
         
	        {% if user.is_authenticated %}
			
					<h1 class="text-center mt-0">Son adresse est: {{user.email}}</h1>
				
			{% else%}
				
			
					<h1 class="text-center mt-0">email?</h1>
				
			{% endif%} 
			
	</div>
</div>

{% endblock %}