{% extends "store/base.html" %}

{% block title %} Bienvenue Chez Pur_Beurre {% endblock %}
{% block content %}
	{% load static %}
	<!-- Masthead-->
	{% if text is None %}
 		{% include 'store/chercher.html' %}
	{%else%}
		<hr>
		<div class="col-lg-12 text-center" id='alerte'>
	        <h2 class="text-danger">{{text}}</h2>
	        </br>
	    </div>
	    {% include 'store/chercher.html' %}
    {% endif%}

	<!-- Présentation-->
 	{% include 'store/presentation.html' %}

 	<!-- Contact-->
 	{% include 'store/contact.html' %}

{% endblock %}

