{% extends "store/base.html" %}

{% block title %} Copyright{% endblock %}


<!-- Présentation du compte-->

{% block content %}
<header class="masthead" id="presentation_utilisateur">

   		<section class="page-section" >
		
		<h1></br></h1>
		
		<h2 class="text-uppercase text-white font-weight-bold text-center mt-0">Charte graphique pour le site.. <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide">ici</a></h2>
		
		</section>
       
		<section class="page-section" >
		
		<h1></br></h1>
		
		<h2 class="text-uppercase text-white font-weight-bold text-center mt-0">Reference template Boostrap se trouve..<a href="https://startbootstrap.com/themes/creative/">ici</a></h2>
		
		</section>
		
		
				
		
</header>
<div class="container h-25" id="presentation_email">
    
		
		<section class="page-section" >
			<h2 class="text-center mt-0">Lien vers le site des icones utilisés..<a href="https://thenounproject.com/">ici</a></h2>
		</section>
		
		

{% endblock %}