{% extends "store/base.html" %}

{% block title %} Mon compte {% endblock %}


<!-- Présentation du compte-->

{% block content %}
<header class="masthead" id="presentation_utilisateur">

   
       {% if user.is_authenticated %}
		<section class="page-section" >
		
		<h1></br></h1>
		
		<h2 class="text-uppercase text-white font-weight-bold text-center mt-0">{{user.username}} est connecté.</h2>
		</section>
		
		{% else%}
		<section class="page-section" >

		<h1></br></h1>
		
		<h2 class="text-center mt-0">Non connecté!!!!</h2>
		</section>
		
		{% endif%} 
   
</header>
<div class="container h-25" id="presentation_email">
       {% if user.is_authenticated %}
		
		<section class="page-section" >
			<h2 class="text-center mt-0">Son adresse est: {{user.email}}</h2>
		</section>
		{% else%}
		
		<section class="page-section" >
			<h2 class="text-center mt-0">email?</h2>
		</section>
		{% endif%} 
</div>

{% endblock %}