{% extends "store/base.html" %}
{% load static %}
{% block title %} Page de résultats {% endblock %}

{% block content %}
<!-- We print the selected product-->


	 {% include 'store/produit.html' %}  



<section class="page-section" id="produits">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 >Vous pouvez remplacer cet aliment par:</h2>
                </br>
            </div>
        </div>
    </div>

    <!-- We show the result of research with a list-->
    <div class="row justify-content-center">

   		{% include 'store/list.html' %} 

	</div>
</section>

{% endblock %}