body{ 
	font-family: "Scope One", sans-serif;
	width: 100%;
 }

#produits{
	background-color: #e8a75d;
}

#presentation_utilisateur{
	height: 25vh;
	}
#presentation_copyright{
	height: 25vh;
	}
#presentation_email{
	height: 25vh;
	background-color: #e8a75d;
	}
.decorator_header{
	padding-top: 10rem;
	height: 25vh;
	
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/kawin-harasai-k60JspcBwKE-unsplash.jpg");
	
	}



.decorator2_fond{
	background-color: #86ebe6;
}
.decorator1_fond{
	background-color: #e8a75d;
}
.decorator1{

	padding-top: 4em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #ffffff;
	opacity: 0.6;
}
.decorator2{
	margin-top: 4em;
	padding-top: 1.5em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #000000;
	opacity: 0.5;
}
.figure{
	height: 10em;
	border: 3px solid #ccc;
  	border-radius: 4px;
  	box-shadow: 6px 6px 0px black;
	
}
ul.errorlist {
margin-left: 160px;
padding: 0;
list-style-type: none;
color: #c45525;

}
form label{
	display: block;
	float: left;
	text-align: right;
	padding: 4px 10px 0 0 ;
}
form input[type="email"], form input[type="text"],
form input[type="password"]{
	display: block;
	float: center;
	width: 250px;
	padding: 2px;
	margin: .5rem;
}

a{
	color: #3b5998;
}
.decorator3{
	
	height: 15em;
	
	margin: 2%;
	padding: 2%;
	
	
	
}
.parent {
	position: relative;
	top: 0;
	left: 0;
	border: 3px solid #ccc;
  	border-radius: 4px;
	box-shadow: 6px 6px 0px black;
	width: 100%; 

}

.image1 {
	position: relative;
	top: 0;
	left: 0;
	
	height:10em;
}
.image2 {
	position: absolute;
	top: 0px;
	right: 0px;
 }
.image3 {
	position: relative;
	top: 0;
	left: 0;
	
} 

#site{
	background-color: #86ebe6;
}
#aliment_header{
	background-color: #e8a75d;
}
#aliment_footer{
	background-color: #de9440;
}
#choice{
	display: block;
	float: center;
	text-align: center;
	padding: 2px;
}
.list{
	margin:10%;
}
.parent_form {
	position: relative;
	top: 0;
	left: 0;
	margin:10%;
	border: 3px solid #ccc;
  	border-radius: 4px;
	box-shadow: 6px 6px 0px black;
	height: 14rem;

}

.image1_form {
	position: relative;
	margin:.5rem;
	padding:.5rem;
	max-height: 10rem;;
	

	
}

.parent_product {
	position: relative;
	top: 0;
	left: 0;
	border: 3px solid #ccc;
	border-radius: 4px;
	box-shadow: 6px 6px 0px black;
	height: 100%; 

}
.image4 {
	position: relative;
	top: .1rem;
	

	
}
.image5 {
	position: absolute;
	top: 12rem;
	background-color: #86ebe6;
}
.image6 {
	border: 3px solid #ccc;
	border-radius: 4px;
	box-shadow: 6px 6px 0px black;
	width: 100%; 
}	
}
.formh4{
	max-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
form input{
	margin-left: 25%;
}
title{
	font-family: "Open Sans", sans-serif;
  }
html {
	font-family: "Scope One", sans-serif;
}